@media (max-width: 1023px)  {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header-with-search {
        height:68px;
    }
    .header {
        height: 68px;
    }
    
}
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}